/* Create.css */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.create-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f9f9f9;
    /* Optional for a background color */
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    /* Adjust this as needed for form width */
    padding: 20px;
    box-sizing: border-box;
}

.form>div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-form-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.submit-form-button:hover {
    background-color: #0056b3;
}